<div>
    <h1>Documentation</h1>
    <p>Here you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
    <p>It has a simple admin console where you can add, remove, or update projects.</p>
    <p>It also has a simple documentation page where you can find the documentation for this project.</p>
    <p>It is a simple project that uses Node.js, Express, and EJS to create a simple web application.</p>
</div>